[submodule "sdk"]
	path = sdk
	url = https://github.com/Wend4r/sourcesdk.git
	branch = cs2-1.40.5.7
[submodule "hl2sdk-manifests"]
	path = hl2sdk-manifests
	url = https://github.com/alliedmodders/hl2sdk-manifests
